//! **************************************************************************
// Written by: Map P.20131013 on Wed May 17 09:58:06 2023
//! **************************************************************************

SCHEMATIC START;
COMP "LCD_DATA<0>" LOCATE = SITE "Y13" LEVEL 1;
COMP "LCD_DATA<1>" LOCATE = SITE "AB18" LEVEL 1;
COMP "LCD_DATA<2>" LOCATE = SITE "AB17" LEVEL 1;
COMP "LCD_DATA<3>" LOCATE = SITE "AB12" LEVEL 1;
COMP "LCD_DATA<4>" LOCATE = SITE "AA12" LEVEL 1;
COMP "LCD_DATA<5>" LOCATE = SITE "Y16" LEVEL 1;
COMP "LCD_DATA<6>" LOCATE = SITE "AB16" LEVEL 1;
COMP "LCD_DATA<7>" LOCATE = SITE "Y15" LEVEL 1;
COMP "clk" LOCATE = SITE "E12" LEVEL 1;
COMP "btn" LOCATE = SITE "T15" LEVEL 1;
COMP "rst" LOCATE = SITE "T14" LEVEL 1;
COMP "btn_1" LOCATE = SITE "T16" LEVEL 1;
COMP "lcd_e" LOCATE = SITE "AB4" LEVEL 1;
COMP "LED<0>" LOCATE = SITE "R20" LEVEL 1;
COMP "LED<1>" LOCATE = SITE "T19" LEVEL 1;
COMP "LED<2>" LOCATE = SITE "U20" LEVEL 1;
COMP "LED<3>" LOCATE = SITE "U19" LEVEL 1;
COMP "LED<4>" LOCATE = SITE "V19" LEVEL 1;
COMP "LED<5>" LOCATE = SITE "V20" LEVEL 1;
COMP "LED<6>" LOCATE = SITE "Y22" LEVEL 1;
COMP "LED<7>" LOCATE = SITE "W21" LEVEL 1;
COMP "lcd_rs" LOCATE = SITE "Y14" LEVEL 1;
COMP "lcd_rw" LOCATE = SITE "W13" LEVEL 1;
COMP "KBData_1" LOCATE = SITE "V11" LEVEL 1;
COMP "KBData_2" LOCATE = SITE "Y12" LEVEL 1;
COMP "KBClk_1" LOCATE = SITE "W12" LEVEL 1;
COMP "KBClk_2" LOCATE = SITE "U11" LEVEL 1;
NET "clk_BUFGP/IBUFG" PERIOD = 20 ns HIGH 40%;
SCHEMATIC END;

